.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tracker-container {
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-title {
  font-size: large;
}

.first {
  margin-top: 20px;
}

.list {
  padding-left: 30px;
}

.sort {
  margin-top: auto;
  width: 70vw;
  margin-bottom: 10px;
}

.next {
  margin-top: 10px;
  width: 70vw;
}

.divider {
  display: block;
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}

.card-checbox {
  margin: 15px;
}

.card-remove {
  height: 35px;
  width: 15px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.button-remove {
  width: 15px;
}

.card-img {
  height: 57px;
  width: 57px;
  margin-right: 5px;
  padding: 5px;
}

.card-icon {
  height: 57px;
  width: 57px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.card {
  min-width: 145px;
  width: 33vw;
  height: 35px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.viewport:hover {
  color: rgba(0, 0, 0, 0.3);
}

.viewport {
  overflow: auto;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: black;
  transition: color 0.3s ease;
  height: 100%;
  width: 99vw;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: scroll;
  scrollbar-width: none;
}
