<div class="add-container">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z6 secondary-toolbar">
        <a mat-icon-button [routerLink]="['/player/characters']">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </mat-toolbar>
    <div class="center">
        <form [formGroup]="addForm">
            <mat-form-field appearance="outline">
                <mat-label>Имя персонажа</mat-label>
                <input matInput formControlName="name" />
                <button *ngIf="addForm.get('name')?.value" matSuffix mat-icon-button
                    (click)="addForm.get('name')?.reset()" type="button">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Пол персонажа</mat-label>
                <mat-select formControlName="sex">
                    <mat-option *ngFor="let sex of sexes" [value]="sex">
                        {{ sex }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <input type="file" class="file-upload" onchange="console.log(event.target.files)">
        </form>

        <button mat-raised-button class="button-next" (click)="save()" [disabled]="!addForm.valid"
            [routerLink]="['/player/createCharacterClass']">
            Далее
        </button>
    </div>
</div>
<mat-toolbar color="primary" class="toolbar steps-toolbar">
    <div class="steps">
        <a mat-icon-button [routerLink]="['/player/characters']">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <a mat-icon-button disableRipple="true">
            <span class="current">1</span>
        </a>
        <button mat-icon-button [disabled]="!addForm.valid" (click)="save()"
            [routerLink]="['/player/createCharacterClass']">
            <span>2</span>
        </button>
        <button mat-icon-button [disabled]="!addForm.valid" (click)="save()"
            [routerLink]="['/player/createCharacterRace']">
            <span>3</span>
        </button>
        <button mat-icon-button [disabled]="!addForm.valid" (click)="save()"
            [routerLink]="['/player/createCharacterBackground']">
            <span>4</span>
        </button>
    </div>
</mat-toolbar>