.mat-form-field {
  width: 255px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  font-size: 25px;
  margin-bottom: 3px;
}
