<mat-toolbar color="primary" class="toolbar mat-elevation-z4 primary-toolbar">
  <span [routerLink]="['']" class="pointer">DnD Компаньон</span>
</mat-toolbar>
<div class="container">
  <tui-island size="m" textAlign="center" class="login-island">
    <div class="tui-island__content">
      <div class="header">
        <img src="/assets/icons/icon-96x96.png" alt="" srcset="" />
        <div>
          <h3 class="tui-island__title">Компаньон</h3>
          <h4 class="tui-island__paragraph">Регистрация</h4>
        </div>
      </div>

      <form class="tui-space_top-4" [formGroup]="form">
        <div class="tui-form__row">
          <tui-input formControlName="login">
            Логин
            <input tuiTextfield (keyup.enter.stop)="password.nativeElement.focus()" />
          </tui-input>
        </div>

        <div class="tui-form__row">
          <tui-input-password formControlName="password">
            Пароль
            <input tuiTextfield autocomplete="current-password" #password="elementRef" tuiElement
              (keyup.enter.stop)="passwordRepeat.nativeElement.focus()" />
          </tui-input-password>
          @if(form.controls['password'].invalid && (form.controls['password'].dirty ||
          form.controls['password'].touched)){
          <tui-error error="Введите минимум 6 символов"></tui-error>
          }
        </div>

        <div class="tui-form__row">
          <tui-input-password formControlName="passwordRepeat">
            Повторите пароль
            <input tuiTextfield autocomplete="current-password" (keyup.enter.stop)="registration()"
              #passwordRepeat="elementRef" tuiElement />
          </tui-input-password>
          @if(form.controls['passwordRepeat'].value != form.controls['password'].value &&
          (form.controls['passwordRepeat'].dirty || form.controls['passwordRepeat'].touched)){
          <tui-error error="Пароли не совпадают"></tui-error>
          }
        </div>
      </form>

      <div class="actions">
        <button tuiIconButton [routerLink]="['/auth']" icon="tuiIconArrowLeft" appearance="outline"></button>
        <div class="spacer"></div>
        <button tuiButton [disabled]="form.invalid" (click)="registration()">Регистрация</button>
      </div>
    </div>
  </tui-island>
</div>