:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-island {
  width: 330px;

  .actions {
    display: flex;
    margin-top: 24px;
  }
}

.theme-switcher-container {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
