<button mat-raised-button [routerLink]="['worlds']" class="home-button">
    <mat-icon [inline]="true" class="home-icon">public</mat-icon>
    Игровые миры
</button>
<br>
<button mat-raised-button [routerLink]="['access-players']" class="home-button">
    <mat-icon [inline]="true" class="home-icon">group</mat-icon>
    Управление игроками
</button>
<br>
<button mat-raised-button [routerLink]="['tracker']" class="home-button">
    <mat-icon [inline]="true" class="home-icon">directions_run</mat-icon>
    Трекер инициативы <!--Вынести в компонент world-main для мастера-->
</button>
