:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-island {
  width: 330px;

  .remember-me-checkbox {
    text-align: start;
  }

  .actions {
    display: flex;
    margin-top: 24px;
  }
}

.pwa-button {
  margin-top: 10px;
}
