<mat-toolbar color="primary" class="toolbar mat-elevation-z4 primary-toolbar">
  <span [routerLink]="['']" class="pointer">DnD Компаньон</span>
</mat-toolbar>
<div class="container">
  <tui-island size="m" textAlign="center" class="login-island">
    <form class="tui-space_top-4" [formGroup]="form">
      <div class="tui-form__row">
        <tui-input formControlName="username">
          Логин
          <input tuiTextfield (keyup.enter.stop)="passwordElement.nativeElement.focus()" />
        </tui-input>
      </div>

      <div class="tui-form__row">
        <tui-input-password formControlName="password">
          Пароль
          <input tuiTextfield autocomplete="current-password" #passwordElement="elementRef" tuiElement
            (keyup.enter.stop)="auth()" />
        </tui-input-password>
        <tui-error [error]="error"></tui-error>
      </div>
      <div class="tui-form__row remember-me-checkbox">
        <tui-checkbox-labeled size="l" formControlName="rememberMe">
          Запомнить меня этом устройстве
        </tui-checkbox-labeled>
      </div>
    </form>

    <div class="actions">
      <button tuiButton [routerLink]="['/registration']">
        Регистрация
      </button>
      <div class="spacer"></div>
      <button tuiButton [showLoader]="isAuthInProcess" [disabled]="form.invalid" (click)="auth()">
        Войти
      </button>
    </div>
</div>
</tui-island>
@if(pwa.showInstallPromotion){
<button tuiButton (click)="pwa.addToHomeScreen()" class="pwa-button">
  Добавить на домашний экран
</button>
}