.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.scroll {
  width: calc(70vw + 15px);
  height: calc(100vh - 180px);
}

.item {
  margin-top: 10px;
}

.card-checkbox {
  margin: 15px;
}

.card {
  min-width: 200px;
  width: 70vw;
  height: 60px;
}

.level {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.mat-mdc-checkbox {
  margin: 0px;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  margin: 5px;
}

.class-name-container {
  width: 30vw;
}

.name-container {
  width: 50vw;
}

.block {
  display: block;
}
