.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-checkbox {
  margin: 15px;
}

.card {
  min-width: 200px;
  width: 70vw;
}

.level {
  float: right;
  margin-right: 3px;
}

.character-info {
  margin-left: 3px;
}

.mat-mdc-checkbox {
  margin: 0px;
}
