<mat-toolbar color="primary" class="toolbar mat-elevation-z6 secondary-toolbar">
    <div class="steps">
        <a mat-icon-button [routerLink]="['/player/characters']">
            <mat-icon>close</mat-icon>
        </a>
        <button mat-icon-button [routerLink]="['/player/createCharacterName']" class="previous">
            <span>1</span>
        </button>
        <button mat-icon-button [routerLink]="['/player/createCharacterClass']" class="previous">
            <span>2</span>
        </button>
        <button mat-icon-button disableRipple="true">
            <span class="current">3</span>
        </button>
        <button mat-icon-button [disabled]="!addForm.valid || !statsForm.valid"
            [routerLink]="['/player/createCharacterBackground']">
            <span>4</span>
        </button>
    </div>
</mat-toolbar>
<div class="center">
    <form [formGroup]="addForm">
        <mat-form-field appearance="outline">
            <mat-label>Раса персонажа</mat-label>
            <mat-select formControlName="race">
                <mat-option *ngFor="let race of races$ | async" [value]="race.id"
                    (click)="changeMaxAge(race.name); changeDescription(race.description)">
                    {{ race.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Возраст персонажа</mat-label>
            <input matInput type="number" [min]="1" [max]="maxAge" formControlName="age" />
        </mat-form-field>
    </form>

    <mat-card class="descr">
        <mat-card-content>
            {{description}}
        </mat-card-content>
    </mat-card>

    <div class="stats" [formGroup]="statsForm">
        <div>
            <mat-card>
                <mat-card-content>
                    Сила
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [min]="1" [max]="30" formControlName="strength" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Интеллект
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [min]="1" [max]="30" formControlName="intelligence" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-content>
                    Ловкость
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [min]="1" [max]="30" formControlName="dexterity" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Мудрость
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [min]="1" [max]="30" formControlName="wisdom" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-content>
                    Телосложение
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [min]="1" [max]="30" formControlName="constitution" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Харизма
                    <mat-form-field appearance="outline">
                        <input matInput type="number" [min]="1" [max]="30" formControlName="charisma" />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <button mat-raised-button class="button-next" (click)="save()" [disabled]="!addForm.valid || !statsForm.valid"
        [routerLink]="['/player/createCharacterBackground']">
        Далее
    </button>
</div>