<h3 mat-dialog-title>Добавление состояния</h3>
<mat-dialog-content>
    <div class="center">
        <form [formGroup]="addForm">
            <mat-form-field appearance="outline">
                <mat-label>Состояние</mat-label>
                <!--><mat-select formControlName="cond">
                    <mat-option *ngFor="let cond of conditions$ | async" [value]="cond.id" (click)="changeDescription(cond.description)"> 
                        {{ cond.name }}
                    </mat-option>
                </mat-select><!-->
            </mat-form-field>
        </form>    
        <mat-card>
            <mat-card-content>
                {{description}}
            </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-button color="primary" [disabled]="!addForm.valid" (click)="add()">
        Добавить
    </button>
</mat-dialog-actions>