@use '@angular/material' as mat;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$dnd-primary: (
  50: #eee7e7,
  100: #f0b3b3,
  200: #e88181,
  300: #de4f4f,
  400: #df1010,
  500: #d30000,
  600: #7b0000,
  700: #1d0000,
  800: #0e0000,
  900: #000000,
  A100: #f0b3b3,
  A200: #e88181,
  A400: #d82727,
  A700: #a60000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$dnd-secondary: (
  50: #fae1e1,
  100: #f2b3b3,
  200: #ea8282,
  300: #e25555,
  400: #df3333,
  500: #d30000,
  600: #ce0000,
  700: #bb0000,
  800: #a80000,
  900: #870000,
  A100: #f2b3b3,
  A200: #ea8282,
  A400: #df3333,
  A700: #bb0000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
