/* You can add global styles to this file, and also import other style files */
@import 'material.scss';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

:root {
  --tui-primary: #a31212;
  --tui-primary-hover: #de4f4f;
  --tui-primary-active: #7b0000;
  --tui-primary-inner: #f0b3b3;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 500px) {
  body,
  html {
    width: 100vw !important;
    overflow: hidden !important;
  }

  .sidenav {
    width: 50vw !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 16px;
  width: 36px;
  height: 36px;
}

.clickable {
  cursor: pointer !important;
}

.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar {
  z-index: 1000;
}

.full-width {
  width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary-toolbar {
  background: linear-gradient(0deg, #ff0000, #5b0000) !important;
}

.primary-toolbar {
  background: linear-gradient(0deg, #5b0000, #1b0000) !important;
}

.pointer {
  cursor: pointer;
}

.strike-diagonal-left {
  background: linear-gradient(
    to left top,
    transparent 47.75%,
    currentColor 49.5%,
    currentColor 50.5%,
    transparent 52.25%
  );
}

.strike-diagonal-right {
  background: linear-gradient(
    to right top,
    transparent 47.75%,
    currentColor 49.5%,
    currentColor 50.5%,
    transparent 52.25%
  );
}

.mat-sort-header-container {
  padding-left: 0px !important;
}

.circle-badge::after {
  display: block;
  width: 8px;
  border-radius: 50%;
  color: red;
  height: 8px;
  background: red;
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
}
