.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.descr {
  margin-bottom: 18px;
}

.button-next {
  margin-top: -3px;
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    font-size: large;
  }

  .current {
    font-size: 35px;
    color: white;
  }
}

.steps-toolbar {
  background: linear-gradient(to right, #5b0000 85%, transparent 100%);
  position: absolute;
  bottom: 0;

  button:disabled {
    color: grey;
  }

  button {
    color: black;
  }
}

.previous {
  color: white !important;
}
