:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-button {
  font-size: 3vh;
  min-width: 330px;
  width: 55vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  margin-bottom: 0.5vh;
}