:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .home-button{
    font-size: 4vh;
    min-width: 330px;
    width: 55vw;
    min-height: 10vh;
  }

  .home-icon{
    margin-bottom: 1vh;
  }