.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-top: 10px;
}

.divider-vertical {
  height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .info {
    width: 30vw;
  }

  .hp {
    width: 45vw;
  }
}

.stat {
  width: 30vw;
}

.perception {
  width: 59vw;
}

.view {
  width: 34vw;
}

.descr{
  text-align: center;
}

@media screen and (max-height: 775px) {
  .stat-skill {
    display: none;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 680px) {
  .container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-height: 630px) {
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
