.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 1rem;
}

.home-button {
  font-size: 3vh;
  min-width: 300px;
  width: 50vw;
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 80vw;
}
