<mat-toolbar color="primary" class="toolbar secondary-toolbar">
    <button mat-icon-button [routerLink]="['..']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    Заметки персонажа
    <div class="spacer"></div>
    <button mat-icon-button (click)="addNote()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="drawer.toggle()" [disabled]="notes.length == 0">
        <mat-icon>menu_book</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav mat-elevation-z4" [mode]="drawlerMode" [(opened)]="openDrawer" position="end">
        <div class="drawer-content">
            <mat-nav-list>
                @for (note of notes; track $index) {
                    <a mat-list-item [routerLink]="['', note.id]" routerLinkActive="active"
                    (click)="openDrawer = !openDrawer">
                    <mat-icon matListItemIcon>edit_note</mat-icon>
                    <p matLine class="nav-list-text">{{note.header}}</p>
                </a>
                }
                
            </mat-nav-list>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        @if(noteId || create){
        <app-note [id]="noteId"></app-note>
        }@else {
        <app-notes-home></app-notes-home>
        }
    </div>
</mat-drawer-container>