.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.island {
  width: 300px;

  .remember-me-checkbox {
    text-align: start;
  }

  .actions {
    display: flex;
    margin-top: 24px;
  }
}

.description {
  margin-top: 1rem;
  width: 100%;
}
