.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.island {
  width: 280px;

  .remember-me-checkbox {
    text-align: start;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}

.description {
  margin-top: 1rem;
  width: 100%;
}

.divider{
  margin-top: 10px;
  margin-bottom: -5px;
}
