<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <span [routerLink]="['']" class="pointer truncate">DnD компаньон</span>
  </div>
  <div class="spacer"></div>
  <ng-container *ngIf="user$ | async as user">
    <span>{{ user.login }}</span>
    <button mat-icon-button (click)="logout()" matTooltip="Выйти">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav mat-elevation-z4" mode="side">
    <div class="drawer-content">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['characters']" routerLinkActive="active">
          <mat-icon matListIcon>group</mat-icon>
          <p matLine>Персонажи</p>
        </a>
        <a mat-list-item [routerLink]="['worlds']" routerLinkActive="active">
          <mat-icon matListIcon>public</mat-icon>
          <p matLine>Игровые миры</p>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>