<form [formGroup]="form">
    <div class="header">
        <h3>Создание нового состояния</h3>
    </div>
    <tui-input formControlName="name" class="info">
        Название
        <input placeholder="Название состояния" tuiTextfield />
    </tui-input>
    <tui-textarea formControlName="description" class="field-medium info" [expandable]="true" [maxLength]="100">
        Описание
    </tui-textarea>
    <tui-select formControlName="worldId" [stringify]="stringifyWorld()" [tuiTextfieldCleaner]="true" class="info">
        Принадлежность к миру
        <tui-data-list *tuiDataList>
            <button *ngFor="let world of worlds()" tuiOption [value]="world.id">
                {{ world.name }}
            </button>
        </tui-data-list>
    </tui-select>
    <button tuiButton appearance="outline" (click)="create()" class="info" [disabled]="form.invalid">Создать</button>
</form>