<h3 mat-dialog-title>Добавление персонажа в трекер</h3>
<mat-dialog-content>
    <form [formGroup]="addForm">
        <mat-form-field appearance="outline">
            <mat-label>Название мира</mat-label>
            <input matInput formControlName="name" />
            <button *ngIf="addForm.get('name')?.value" matSuffix mat-icon-button (click)="addForm.get('name')?.reset()"
                type="button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Описание мира</mat-label>
            <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
            <button *ngIf="addForm.get('description')?.value" matSuffix mat-icon-button
                (click)="addForm.get('description')?.reset()" type="button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-button color="primary" [disabled]="!addForm.valid" (click)="add()">
        Добавить
    </button>
</mat-dialog-actions>