.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.scroll {
  width: calc(75vw + 15px);
  height: calc(100vh - 210px);
}

.item {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.min-card {
  width: calc(75vw - 40px) !important;
}

.card-checkbox {
  margin: 15px;
}

.card {
  min-width: 200px;
  width: 75vw;
  height: 60px;
}

.level {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.mat-mdc-checkbox {
  margin: 0px;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  margin: 5px;
}

.description-container {
  width: 60vw;
}

.name-container {
  width: 50vw;
}

.block {
  display: block;
}

.center-none {
  text-align: center;
}
