<mat-toolbar color="primary" class="toolbar mat-elevation-z6 secondary-toolbar">
    <button mat-icon-button [routerLink]="['..']">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-icon-button (click)="enableSelectionMode()" matTooltip="Включить режим выбора"
        *ngIf="!isSelectionModeEnabled; else selectionButtons">
        <mat-icon>checklist</mat-icon>
    </button>
    <ng-template #selectionButtons>
        <button mat-icon-button (click)="disableSelectionMode()" matTooltip="Отменить">
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteSelectedItems()" matTooltip="Удалить выбранное"
            [disabled]="!canDelete">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </ng-template>
    <button mat-icon-button *ngIf="role == 'master'" (click)="addWorld()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<ng-container *ngIf="shortWorlds$ | async as worlds">
    <div class="center" *ngFor="let world of worlds;">
        <div class="card-container">
            <mat-checkbox class="card-checbox" *ngIf="isSelectionModeEnabled" [ngModel]="isItemSelected(world)"
                (change)="toggleSelection(world)"></mat-checkbox>
            <mat-card class="card pointer" [routerLink]="role == 'master' ? ['/master/world', world.id] : ['/player/world', world.id]">
                <mat-card-title>{{world.name}}</mat-card-title>
                <mat-card-subtitle>
                    {{world.description}}
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</ng-container>