<mat-toolbar color="primary" class="toolbar mat-elevation-z6 secondary-toolbar">
    <button mat-icon-button [routerLink]="['/player']">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>
</mat-toolbar>

<ng-container *ngIf="shortCharacters$ | async as characters">
    <div class="center pointer" *ngFor="let character of characters;" [routerLink]="['/player/character', 1]">
        <mat-card class="card">
            <mat-card-title>{{character.name}}</mat-card-title>
            <mat-card-subtitle>
                {{character.class}}
                <div style="float: right;">Уровень: {{character.level}}</div>
            </mat-card-subtitle>
        </mat-card>
    </div>
</ng-container>