:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background:
    url('/assets/backgrounds/d20.png') no-repeat,
    url('/assets/backgrounds/d12.png') right bottom no-repeat;
  background-size: 200px, 200px;
  animation-name: cloud1;
    animation-duration: 25s;top: 100px;
    left: 100px;
}

@media screen and (max-width: 400px) {
  :host {
    background-size: 150px, 150px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sidenav {
  min-width: 300px;
}

:host::ng-deep.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.drawer-content {
  overflow: auto;
  flex: 1 1 auto;
}

.sidenav-content {
  height: 100%;
}

.home-button {
  font-size: 5vh;
  min-width: 300px;
  width: 55vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.pwa-button {
  padding-top: 15px;
}
