:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background:
    url('/assets/backgrounds/d20.png') no-repeat,
    url('/assets/backgrounds/dragon.svg') right bottom no-repeat;
  transition: background-size 1s ease-in-out 100ms;
}

@media screen and (max-width: 4096px) {
  .container {
    animation: appear 1s ease;
    background-size: 200px, 220px;
  }

  .container:has(.player:hover) {
    background-size: 220px, 170px;
  }

  .container:has(.master:hover) {
    background-size: 150px, 240px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    animation: appearMobile 1s ease;
    background-size: 130px, 150px;
  }

  .container:has(.player:hover, .player:active) {
    background-size: 160px, 120px;
  }

  .container:has(.master:hover, .master:active) {
    background-size: 100px, 180px;
  }

  .logo-name {
    display: none;
  }
}

@keyframes appearMobile {
  0% {
    background-size: 0px, 0px;
  }
  100% {
    background-size: 120px, 150px;
  }
}

@keyframes appear {
  0% {
    background-size: 0px, 0px;
  }
  100% {
    background-size: 200px, 220px;
  }
}

.logo {
  margin-right: 1rem;
}

.sidenav {
  min-width: 300px;
}

:host::ng-deep.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.drawer-content {
  overflow: auto;
  flex: 1 1 auto;
}

.sidenav-content {
  height: 100%;
}

.home-button {
  font-size: 5vh;
  min-width: 300px;
  width: 55vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.pwa-button {
  margin-top: -5px;
}
