<mat-toolbar color="primary" class="toolbar mat-elevation-z8 primary-toolbar">
    <div>
        <span [routerLink]="['']" class="pointer truncate">DnD компаньон</span>
    </div>
    <div class="spacer"></div>
    <ng-container *ngIf="user$ | async as user">
        <span>{{ user.login }}</span>
        <button mat-icon-button (click)="logout()" matTooltip="Выйти">
            <mat-icon>logout</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>
<div class="center">
    <button mat-raised-button [routerLink]="['player']" class="home-button">
        <mat-icon [inline]="true" class="home-icon">person</mat-icon>
        Игрок
    </button>
    <br>
    <button mat-raised-button [routerLink]="['master']" class="home-button">
        <mat-icon [inline]="true" class="home-icon">engineering</mat-icon>
        Мастер
    </button>
    <button mat-raised-button *ngIf="pwa.showInstallPromotion" (click)="pwa.addToHomeScreen()">
        Добавить на домашний экран
    </button>
</div>