<mat-toolbar color="primary" class="toolbar mat-elevation-z8 primary-toolbar">
    <div>
        <span [routerLink]="['']" class="pointer">DnD компаньон</span>
    </div>
    <div class="spacer"></div>
        <span>{{ userLogin }}</span>
        <button mat-icon-button (click)="logout()" matTooltip="Выйти">
            <mat-icon>logout</mat-icon>
        </button>
</mat-toolbar>
<div class="center">
    <a mat-raised-button [routerLink]="['player']" class="home-button">
        <mat-icon [inline]="true" class="home-icon">person</mat-icon>
        Игрок
    </a>
    <br>
    <a mat-raised-button [routerLink]="['master']" class="home-button">
        <mat-icon [inline]="true" class="home-icon">engineering</mat-icon>
        Мастер
    </a>
    <br>
    <button mat-raised-button *ngIf="pwa.showInstallPromotion" (click)="pwa.addToHomeScreen()" class="pwa-button">
        Добавить на домашний экран
    </button>
</div>