<ng-container *ngIf="character$ | async as character">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z6 secondary-toolbar">
        <button mat-icon-button [routerLink]="['/player/characters']">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="spacer"></div>
        <h1>{{character.name}}</h1>
        <button mat-icon-button>
            <mat-icon>info</mat-icon>
        </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="card-container stats">
        <mat-card class="card-stat">
            <mat-form-field appearance="outline">
                <input matInput type="number" value="{{character.classArmor}}" />
            </mat-form-field>
            <mat-card-subtitle class="card-stat-subtext">Класс брони</mat-card-subtitle>
        </mat-card>
        <mat-divider vertical class="divider-vertical"></mat-divider>
        <mat-card class="card-stat">
            <mat-form-field appearance="outline">
                <input matInput type="number" value="{{character.maxHp}}" />
            </mat-form-field>
            <mat-card-subtitle class="card-stat-subtext">Max Хиты</mat-card-subtitle>
        </mat-card>
        <mat-divider vertical class="divider-vertical"></mat-divider>
        <mat-card class="card-stat">
            <mat-form-field appearance="outline">
                <input matInput type="number" value="{{character.hp}}" />
            </mat-form-field>
            <mat-card-subtitle class="card-stat-subtext">Текущ. Хиты</mat-card-subtitle>
        </mat-card>
        <mat-divider vertical class="divider-vertical"></mat-divider>
        <mat-card class="card-stat">
            <mat-form-field appearance="outline">
                <input matInput type="number" value="{{character.addHp}}" />
            </mat-form-field>
            <mat-card-subtitle class="card-stat-subtext">Врем. Хиты</mat-card-subtitle>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="descr">
        Основные характеристики персонажа
        <div class="spacer"></div>
        <button mat-icon-button class="edit-stat">
            <mat-icon [inline]="true">edit</mat-icon>
        </button>
    </div>
    <div class="center">
        <div class="six-stats">
            <mat-card>
                <mat-card-content>
                    Сила
                    <mat-form-field appearance="outline">
                        <input matInput type="number" value="{{character.strength | statsSkill: 0 }}" />
                    </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="save">
                    Значение: {{character.strength}}
                    Спасбросок: {{character.strength | statsSkill: 0 }}
                </div>
                <mat-divider></mat-divider>
                <div class="stat-skill">
                    Атлетика: {{character.strength | statsSkill: character.proficiencyBonus }}
                </div>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Ловкость
                    <mat-form-field appearance="outline">
                        <input matInput type="number" value="{{character.dexterity | statsSkill: 0}}" />
                    </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="save">
                    Значение: {{character.dexterity}}
                    Спасбросок: {{character.dexterity | statsSkill: 0 }}
                </div>
                <mat-divider></mat-divider>
                <div class="stat-skill">
                    Акробатика: {{character.dexterity | statsSkill: character.proficiencyBonus }}
                    Ловкость рук: {{character.dexterity | statsSkill: 0 }}
                    Скрытность: {{character.dexterity | statsSkill: character.proficiencyBonus }}
                </div>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Телосложение
                    <mat-form-field appearance="outline">
                        <input matInput type="number" value="{{character.constitution | statsSkill: 0}}" />
                    </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="save">
                    Значение: {{character.constitution}}
                    Спасбросок: {{character.constitution | statsSkill: 0 }}
                </div>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Интеллект
                    <mat-form-field appearance="outline">
                        <input matInput type="number" value="{{character.intelligence | statsSkill: 0 }}" />
                    </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="save">
                    Значение: {{character.intelligence}}
                    Спасбросок: {{character.intelligence | statsSkill: character.proficiencyBonus }}
                </div>
                <mat-divider></mat-divider>
                <div class="stat-skill">
                    Анализ: {{character.intelligence | statsSkill: character.proficiencyBonus }}
                    История: {{character.intelligence | statsSkill: 0 }}
                    Магия: {{character.intelligence | statsSkill: character.proficiencyBonus }}
                    Природа: {{character.intelligence | statsSkill: character.proficiencyBonus }}
                    Религия: {{character.intelligence | statsSkill: 0 }}
                </div>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Мудрость
                    <mat-form-field appearance="outline">
                        <input matInput type="number" value="{{character.wisdom | statsSkill: 0}}" />
                    </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="save">
                    Значение: {{character.wisdom}}
                    Спасбросок: {{character.wisdom | statsSkill: character.proficiencyBonus }}
                </div>
                <mat-divider></mat-divider>
                <div class="stat-skill">
                    Внимат-сть: {{character.wisdom | statsSkill: character.proficiencyBonus }}
                    Выживание: {{character.wisdom | statsSkill: 0 }}
                    Медицина: {{character.wisdom | statsSkill: character.proficiencyBonus }}
                    Прониц-сть: {{character.wisdom | statsSkill: character.proficiencyBonus }}
                    Уход за жив: {{character.wisdom | statsSkill: character.proficiencyBonus }}
                </div>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    Харизма
                    <mat-form-field appearance="outline">
                        <input matInput type="number" value="{{character.charisma | statsSkill: 0}}" />
                    </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <div class="save">
                    Значение: {{character.charisma}}
                    Спасбросок: {{character.charisma | statsSkill: 0 }}
                </div>
                <mat-divider></mat-divider>
                <div class="stat-skill">
                    Выступление: {{character.charisma | statsSkill: character.proficiencyBonus }}
                    Запугивание: {{character.charisma | statsSkill: 0 }}
                    Обман: {{character.charisma | statsSkill: character.proficiencyBonus }}
                    Убеждение: {{character.charisma | statsSkill: character.proficiencyBonus }}
                </div>
            </mat-card>
        </div>
        <div class="buttons-skill-magic">
            <button mat-raised-button class="button-skill" [routerLink]="['skills']">Умения</button>
            <button mat-raised-button class="button-magic" [routerLink]="['spells']">Заклинания</button>
        </div>
        <button mat-raised-button class="button-inventory" [routerLink]="['inventory']">Инвентарь</button>
    </div>
</ng-container>