<div class="container">
    <tui-island size="m" textAlign="center">
        <h3 class="tui-island__title">Мастерская</h3>
        <a mat-raised-button [routerLink]="['skills']" class="home-button">
            Способности
        </a>
        <br>
        <a mat-raised-button [routerLink]="['items']" class="home-button">
            Предметы
        </a>
        <br>
        <a mat-raised-button [routerLink]="['spells']" class="home-button">
            Заклинания
        </a>
        <br>
        <a mat-raised-button [routerLink]="['classes']" class="home-button">
            Классы
        </a>
        <br>
        <a mat-raised-button [routerLink]="['races']" class="home-button">
            Расы
        </a>
        <br>
        <a mat-raised-button [routerLink]="['backgrounds']" class="home-button">
            Предыстории
        </a>
        <br>
        <a mat-raised-button [routerLink]="['conditions']" class="home-button">
            Состояния
        </a>
    </tui-island>
</div>